<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de...</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Acerca de esta App</h1>
    <p>Creado por <%= autor %> el día <%= fecha %>.</p>
    <br>
    <a href="/">Volver</a>
</body>
</html>